<style>
  p {
    margin: 0;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

</style>

<div class="container-fluid">

  <section class="wrapper" style="margin-bottom: 90px;">
      <app-header></app-header>
  </section>
    <!-- Highlight Card -->
  <!-- <section class="row" style="margin-top:113px">
    <div class="col-md-12">
      <app-form-search></app-form-search>
    </div>
  </section> -->

</div>

<router-outlet></router-outlet>