<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body shadow-card">
              <h5 class="card-title">Información Básica</h5>
              <p class="card-text text-colors" *ngIf="msg!='Exitoso'">
                {{msg}}
              </p> 

              <div *ngIf="msg=='Exitoso'">
                <label>
                  Primer Nombre:
                </label>
                <p>{{data.datos.primerNombre}}</p>
                <label>
                  Segundo Nombre:
                </label>
                <p>{{data.datos.segundoNombre}}</p>
                <label>
                  Primer Apellido:
                </label>
                <p>{{data.datos.primerApellido}}</p>
                <label>
                  Segundo Apellido:
                </label>
                <p>{{data.datos.segundoApellido}}</p>
                <label>
                  Telefono:
                </label>
                <p>{{data.datos.telefono}}</p>
                <label>
                  Direccion:
                </label>
                <p>{{data.datos.direccion}}</p>
                <label>
                  ciudad Residencia:
                </label>
                <p>{{data.datos.ciudadResidencia}}</p>
              </div>

              <button 
                style="width: 217px;"
                type="submit" 
                (click)="Toreturn();"
                class="btn btn-primary">Regresar</button>
            </div>
        </div>
    </div>
</div>